<% unless current_user?(@user) %>
	<%= form_for(current_user.microposts.build(user_id: current_user.id, initiator: current_user.id, responder: @user.id)) do |f| %>
		<div><%= f.hidden_field :user_id %></div>
		<div><%= f.hidden_field :responder %></div>
		<div><%= f.hidden_field :initiator %></div>

	
		<% if current_user.communicating?(@user) %>			
		<% else %>
			<div class="field">
		    <%= f.text_area :topic, placeholder: "What do you want to talk about..." %>
		  </div>
	  <% end %>
	  <div class="field">
	    <%= f.text_area :content, placeholder: "Write to this user..." %>
	  </div>


	  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
	<% end %>
<% end %>