<% unless current_user?(@user) %>
	<%= form_for(current_user.microposts.build(user_id: current_user.id, initiator: current_user.id, responder: @user.id)) do |f| %>
		<div><%= f.hidden_field :user_id %></div>
		<div><%= f.hidden_field :responder %></div>
		<div><%= f.hidden_field :initiator %></div>

	
		<% if current_user.communicating?(@user) %>			
		<% else %>
			<aside>
				<div class="good-border">
			    <%= f.text_area :topic, placeholder: "Put the topic of your conversation here...", :required => true %>
			  </div>
	 		</aside>
	  <% end %>

	  <aside>
		  <div class="good-border">
		    <%= f.text_area :content, placeholder: "Write to this user...", class: "big-text-field", :required => true %>
		  </div>
	  </aside>

	  <%= f.submit "Let us talk", class: "btn btn-large btn-primary" %>
	<% end %>
<% end %>