<%#= link_to 'Back', root_path %>

<div class="row">
	<div class="col-md-offset-2 col-md-8 light-gray-background">
		<% if false%> <div class="panel panel-default"> <% end %>
			
				<div class="gravatar col-md-8">
					<p><%#= @pin.description %></p>
					<div class="">
						<%= image_tag @user.image.url(:profile) %>	
					</div>
					<h3><%= @user.name %></h3>
					<p><strong><%#= @user.name %></strong></p>
					<!-- <p> Talk to me about... </p> -->
					<% if @user.location == nil or @user.location == "" %>
					<% else %>
						<p>Lives in <font color="#c0392b"><%= @user.location %></font></p>
					<% end %>
					<p>Talk to me about... <font color="#c0392b"><em><%= @user.description %></em></font></p>
					<p><span class="badge"><%= [7 - Relationship.where("responder_id = ?", @user.id).count,0].max %></span> spots open</p>
						<% if false %>
							<% if @user == current_user %>
								<%= link_to edit_user_path(@pin) do %>
		            <span class="glyphicon glyphicon-edit"></span>Edit
		          <% end %>
		         <% end %>
					<% end %> 
				</div>

				<% if Relationship.where("responder_id = ?", @user.id).count < 7 %>
					<div class="right-gravatar">
				  	<%= render 'responder_micropost', :microposts => @micropost %>
					</div>
				<% end %>
	</div>
</div>


<p></p>
<%# This is to list out the conversation between users %>
<section class="row">
	<div class="col-md-offset-2 col-md-8 good-border light-gray-background">
		<% if current_user == @user %>
			<aside>
				<section>
					<h1>Update your details below. This will help others discover you faster</h1>
				</section>
			</aside>
			<%= render 'update_user_details', :users => current_user %>
		<%# elsif @conversation_items.any? and current_user != @user  %>
		<% elsif Relationship.where("responder_id = ?", @user.id).count > 6 %>
			<aside>
				<section>
		    <h1><%= @user.name %> currently has no bandwidth. Check back soon to see if any openings show up</h1>
		    </section>
		  </aside>

		<% elsif @conversation_items.any? and ((current_user.communicating?(current_user, @user).any? or @user.communicating?(current_user, @user).any?)) %>

		<%#= @conversation_items.count %>
			<aside>
				<section>
		    <h1>Your conversations with <%= @user.name %> on <font color="#c0392b"><%= Micropost.where("(initiator = (?) and responder = (?)) or (initiator = (?) and responder = (?)) and (topic != (?) OR topic  != (?))", current_user.id, @user.id, @user.id, current_user.id, nil, "").first.topic %></font></h1>

		    <%#= Micropost.where("(initiator = (?) OR responder = (?)) and (topic != (?) OR topic  != (?))", current_user.id, @user.id, nil, "").first.topic %>
		    </section>
		  </aside>
		  <div class="span8 center">
			  <%= render 'microposts/communicate_form' %>
			</div>

	  	<%= render 'conversation', :users => @user %>
  	<% elsif not(@conversation_items.any?) %>
			<aside>
				<section>
		    <h1>You currently do not have any conversations with <%= @user.name %></h1>
		    </section>
		    <%#= render 'update_user_details', :users => current_user %>
		  </aside>
		<% end %>
  </div>
</section>

<!--
<div class="span8">
  <%= render 'microposts/communicate_form' %>
</div>

-->

