
<li id="<%= feed_item.id %>">
	<div class="gravatar">
		<%= image_tag feed_item.user.image.url(:thumb) %>	
	</div>

  <span class="user">
    <%#= link_to feed_item.user.name, feed_item.user %>

 
  </span>

  <span class="content">
    <% if current_user.id == feed_item.responder %>
    <aside> 
      <section> 
        <h5> with <%= link_to User.find_by_id(feed_item.initiator).name, User.find_by_id(feed_item.initiator) %></h5>
        <!-- 
        <h5> with <%= link_to User.find_by_id(feed_item.initiator).name, Pin.where(:initiator_id => feed_item.initiator).find_by_responder_id(feed_item.responder) %></h5> -->
      </section>
    </aside>      
    <%#= feed_item.content %>
    <% elsif current_user.id == feed_item.initiator %>
    <aside> 
      <section> 
        <h5> with <%= link_to User.find_by_id(feed_item.responder).name, User.find_by_id(feed_item.responder) %></h5>
        <!--
        <h5> with <%= link_to User.find_by_id(feed_item.responder).name, Pin.where(:initiator_id => feed_item.initiator).find_by_responder_id(feed_item.responder) %></h5>   -->
      </section>
    </aside>

      <%#= feed_item.content %>
    <% end %>
    <%= feed_item.content %>
  </span>

  <span class="timestamp">
    Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
  </span>

</li>


