<% render 'pages/stats' if user_signed_in? %>

<% if signed_in? %>
  <div class="row">
    <aside class="col-md-3">
      <section>
        <%= render 'user_info' %>
      </section>
      <!--
      <section>
        <%#= render 'micropost_form' %>
      </section>
      -->
      <section>
        <%= render 'users/search' %>
      </section>

      <% if @eavesdrop_items.any? %>
        <div class="good-border">
          <%= render 'eavesdrop_list' %>
        </div>
      <% else %>
        <div class="good-border">
          <section>
            <h1>You are not eavesdropping on any conversations. Check out a few recommendations below...</h1> 
          </section>
        </div>  
      <% end %>

      <p></p>
      <% if @eavesdrop_recommend_items.any? %>
        <div class="good-border">
          <%= render 'eavesdrop_recommend_list' %>
        </div>
      <% else %>
        <div class="good-border">
          <section>
            <h1>Currently, there are no recommendations for you to eavesdrop</h1> 
          </section>
        </div>  
      <% end %>

    </aside>
  



    <div class="col-md-1"></div>
      <div class="col-md-8 good-border light-gray-background">
        <% if @feed_items.any? %>  
          <%= render 'feed' %>
        <% else %>
      <aside>
        <section>
          <h1>You current have no conversations but here are a few things you can do...</h1><p></p>
          <ul>
            <li><h5>You can search for other people by their interests or location to talk to <em>(to the left)</em></h5></li>
            <li><h5>You can eavesdrop on recommended conversations <em>(to the left)</em></h5></li>
            <li><h5>You can look up other people to talk to or conversations to eavesdrop <em>(to the top)</em></h5></li>
          </ul>
        </section>
      </aside>
        <% end %>
      </div>
    </div>
  <div class="col-md-3">
    <%#= render 'communicate_form' %>
  </div>

<% else %>
  <div class="jumbotron center">
    <h1>Welcome to OneDegree</h1>
    <h3> <span class="content">A community where business professionals, entrepreneurs, and other awesome people will help you out. <em>Ask any question. Get advice. Free! Yes Really.</em> </span></h2>
    <!--
    <h2>
      This is the home page for the <a href="#">Air Message</a> application.
    </h2>
    -->
    <%= link_to "Login", new_user_session_path, class: "btn btn-default btn-lg" %>
    <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-default btn-lg" %>
  </div>

  <% #= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %>
<%#= @user.responder_users.count %>

<%#Commented out the entire code below. Not needed %>
<% if false %>
  <% if user_signed_in? %>
    <% provide(:title, @user.name) %>
    <div class="col-md-8">
      <% if @user.microposts.any? %>
        <h3>Microposts (<%= @user.microposts.count %>)</h3>
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
        <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
      <% end %>
    </div>
    <% end %>


  <h1>Listing microposts</h1>

  <table>
    <thead>
      <tr>
        <th>Content</th>
        <th>User</th>
        <th>Initiator</th>
        <th>Responder</th>
        <th>Topic</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @microposts.each do |micropost| %>
        <tr>
          <td><%= micropost.content %></td>
          <td><%= micropost.user_id %></td>
          <td><%= micropost.initiator %></td>
          <td><%= micropost.responder %></td>
          <td><%= micropost.topic %></td>
          <td><%= link_to 'Show', micropost %></td>
          <td><%= link_to 'Edit', edit_micropost_path(micropost) %></td>
          <td><%= link_to 'Destroy', micropost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <% if user_signed_in? %>
    <%= link_to 'New Micropost', new_micropost_path %>
  <% end %>
<% end %>